{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 110,
  "singleQuote": true,
  "trailingComma": "none",
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "importOrder": [
    "^@core/(.*)$",
    "^@server/(.*)$",
    "^@ui/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
