@import '_colors';


section.ant-layout {
  width: 100%;
  margin: auto;
  position: relative;
}

header.ant-layout-header.App-Bar {
  width: 100%;
  background: transparent;
  display: flex;
  justify-content: center;
  height: 80px;
}

.custom-card {
  min-width: 200px;
  max-width: 300px;
  margin-top: 30px;
  filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.1));
  border-radius: 8px;
  overflow: hidden;

  .ant-card-body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;

    /* gradients/metal */
    background: #282828;
    box-shadow: inset 0px 4px 20px rgba(0, 0, 0, 0.3);
    border-radius: 0px 0px 8px 8px;

  }
}

footer.ant-layout-footer {
  padding: 10px 0;
  width: 100%;
}

.ant-layout-sider {
  background-color: unset;
}

a:link {
  color: #b480eb;
}
a:visited {
  color: #b480eb;
}
a:hover {
  color: #b480eb;
}
a:active {
  color: #b480eb;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}

/* Optional, different gutter size on mobile */
@media (max-width: 800px) {
  .my-masonry-grid {
    margin-left: -15px; /* gutter size offset */
  }
  .my-masonry-grid_column {
    padding-left: 15px; /* gutter size offset */
  }
  .my-masonry-grid_column > div {
    margin-bottom: 15px; /* space between items */
  }
}

.ant-card-body {
  padding: 0;
}
