@import '_colors';


section.ant-layout {
  width: 100%;
  margin: auto;
  position: relative;
}

header.ant-layout-header.App-Bar {
  width: 100%;
  background: transparent;
  display: flex;
  justify-content: center;
  height: 80px;
}

.custom-card {
  min-width: 200px;
  max-width: 300px;
  margin-top: 30px;
  filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.1));
  border-radius: 8px;
  overflow: hidden;
}

footer.ant-layout-footer {
  padding: 10px 0;
  width: 100%;
}

.ant-layout-sider {
  background-color: #222222;
}

a:link {
  color: #b480eb;
}
a:visited {
  color: #b480eb;
}
a:hover {
  color: #b480eb;
}
a:active {
  color: #b480eb;
}
