
body {
  background-color: black;
  font-family: "Inter";
}

.header {
  font-style: italic;
  font-weight: 700;
  font-size: 2rem;
  line-height: 40px;

  color: #FFFFFF;
  border: 1px solid #000000;

}

.subheader {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;

  color: #FFFFFF;
  margin: 42px 0px;
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;

  color: rgba(255, 255, 255, 0.7);

}

.image {
  width: 100%;
  height: 100vw;

  background: url(image.png);
  background-repeat: no-repeat;
  background-size: contain;
}

/* button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;

  position: static;
  width: 350px;
  height: 59px;
  left: 0px;
  top: 69px;

  background: linear-gradient(270deg, #616774 7.29%, #403F4C 100%);
  border-radius: 8px;

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 15px 0px;

  color: white;
}

.email-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 10px 16px 24px;

  position: static;
  width: 348px;
  height: 54px;
  left: 0px;
  top: 0px;

  background: #282828;
  border-radius: 8px;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 15px 0px;
} */

.typeform-widget {
  height: 360px !important;
}

#form {
  width: 100%;
  max-width: 400px;
  margin-bottom: 50px;
}
