body {
  margin: 0;

  font-style: normal;
  font-weight: normal;
  font-family: DM Sans, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-pro-basicLayout-content {
  margin: 0 !important;
  background-color: #141414;
  color: rgba(255, 255, 255, 0.85);
}

.home-info-row {
  min-height: 75vh;
}
.img-svg-absolute {
  position: absolute;
  left: 0;
  width: 100%;
  height: auto;
  top: 0;
}

.wormhole-bg {
  background-image: url('/home/background.svg');
  background-size: 100% auto;
  background-color: #06101a;
  background-repeat: no-repeat;
}
