
.art-card {
  min-width: 200px;
  max-width: 300px;
  margin-top: 30px;
  filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.1));
  border-radius: 8px;
  overflow: hidden;

  .ant-card-body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    text-align: left;

    /* gradients/metal */
    background: #282828;
    box-shadow: inset 0px 4px 20px rgba(0, 0, 0, 0.3);
    border-radius: 0px 0px 8px 8px;
  }

  .ant-card-cover {
    min-height: 200px;
  }

  .ant-card-meta-title {
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
  }
}
