@import '_colors';

.input-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
.ant-popover-title {
  text-align: right;
}
.ant-popover-inner-content {
  text-align: center;
}
.swap-button {
  border-radius: 2em;
  width: 60px;
  height: 60px;
  font-size: 30px;
  top: 150px;
  & > span:after {
    content: '➤';
    padding-left: 0;
  }
}

.exchange-card {
  position: relative;
  max-width: 1000px;
  width: 100%;
  margin: 30px auto 70px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1400px) {
  .exchange-card {
    margin: 30px auto 0px auto;
  }
}

.action-button {
  width: 240px;
  height: 64px;

  border-radius: 12px;
  border: none;
  background-color: @surge-20 !important;
  color: white !important;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-feature-settings: 'ss02' on;
}

.action-button:hover {
  background-color: @surge-30 !important;
}

.transfer-button {
  display: flex;

  // position: absolute;
  width: 240px;
  height: 64px;
  // left: calc(50% - 240px/2);
  // top: 555px;

  border-radius: 12px;
  border: none;
  align-items: center;
  justify-content: center;
  background: #621ae1;
  color: white;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-feature-settings: 'ss02' on;
  &:disabled {
    background: #2c3b49;
    color: #fff;
  }
}
div:not(.home-container) {
  & > #recent-tx-container {
    width: 100%;
    max-width: calc(100% - 388px);
    margin: auto;
  }
}

@media screen and (max-width: 1200px) {
  .exchange-card {
    height: 900px;
    width: 100%;
    margin: 97px auto 0 auto;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  .transfer-button {
    display: flex;
    position: relative;
    width: 240px;
    height: 64px;
    // left: calc(50% - 240px / 2);
    top: 30px;
    margin-bottom: 50px;
  }
  .swap-button {
    top: 0;
  }
  div:not(.home-container) > #recent-tx-container {
    max-width: calc(100% - 100px);
  }

  .swap-button {
    & > span:after {
      content: '⇅';
    }
  }
}
