@import "_colors";

.input-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.swap-button {
  border-radius: 2em;
  width: 40px;
  height: 40px;
  font-size: 19px;
  top: 253px;
  color: black;
}

.exchange-card {
  position: relative;
  max-width: calc(100% - 460px);
  width: 100%;
  margin: 167px auto 150px auto;
  display: flex;
  justify-content: space-between;
}

.transfer-button{
  display: flex;

  position: absolute;
  width: 240px;
  height: 64px;
  left: calc(50% - 240px/2);
  top: 335px;

  border-radius: 12px;
  border: none;
  align-items: center;
  justify-content: center;
  background: @surge-20;
  color: white;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-feature-settings: 'ss02' on;
  &:disabled{
    background: @tungsten-50;
    color: #193650;
  }
}
div:not(.home-container) {
  & > #recent-tx-container{
    width: 100%;
    max-width: calc(100% - 388px);
    margin: auto;
  }
}
